{% extends "base/base.html" %}
{% load i18n %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="row caption text-center">
        <h1>{% trans "Change Password" %}</h1>
    </div>
    <hr>
    <div class="row text-center">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div class="col-sm-4 col-sm-8">
                        <span class="text-danger small">{{ field.errors }}</span>
                    </div>
                    <label class="custom-control-label col-sm-4">{{ field.label_tag }}</label>
                    <div class="col-sm-8">{{ field }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-info" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
{% endblock %}
